@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primary: #b33243;
    --color_doc-type_event: #225588;
    --color_doc-type_fellow: #882255;
    --color_doc-type_page: #558822;
    --color_doc-type_update: #885522;
}

html, body, h1 {
    font-family: 'Inter', sans-serif;
}

h1 {
    color: #202050;
}

[data-testid="stDecoration"] {
    background-image: linear-gradient(90deg, #31333F, var(--color-primary));
}

a {
    color: #3c718a !important;
}

/* hide DEPLOY button in top-right of UI */
.stAppDeployButton {
    display: none;
}
